.button {	
	font-family: $display-type;
	font-size: calc-rem(14);
	text-transform: uppercase;
	font-weight: bold;
	color: $black;
	border: 0;
	padding: calc-rem(17) calc-rem(25) calc-rem(14) calc-rem(25);	
	display: inline-block;
	background: #7FDEDD;
	vertical-align: top;
	cursor: pointer;

	&:hover {
		background: darken(#7FDEDD, 10%);
		color: $black;
		transition: background .1s;

	}

	&:focus {
		box-shadow: inset 0 0 0 calc-rem(3) darken(#7FDEDD, 20%);
        outline: 0;
		
	}

}

.button--ghost {	
	border: 2px $black solid;
	padding: calc-rem(15) calc-rem(25) calc-rem(12) calc-rem(25);	
	background: transparent;

	&:hover {
		background: #7FDEDD;
		color: $black;
		border: 2px $black solid;
		transition: background .1s;

	}

}