.category-page {
	margin-top: calc-rem(30);
	margin-bottom: calc-rem(30);

	@media #{$breakpoint-ml} {
		margin-bottom: calc-rem(44);
	}

	@media #{$breakpoint-ml} {
		margin-top: calc-rem(40);
		margin-bottom: calc-rem(60);
	}

	@media #{$breakpoint-lg} {
		margin-top: calc-rem(60);
		margin-bottom: calc-rem(80);
	}
}

.category-page__heading {
	text-align: center;
	

	@media #{$breakpoint-palm} {
		margin-bottom: calc-rem(10);
	}

	@media #{$breakpoint-ml} {
		//margin-bottom: calc-rem(14);
		border-bottom: 1px solid $lightest-grey;
	}

	@media #{$breakpoint-lg} {
		//margin-bottom: calc-rem(24);
		margin-bottom: calc-rem(45);
	}
}

.category-page-label {
	font-family: $display-type;
	font-size: calc-rem(15);
	padding-bottom: calc-rem(5);
}