.featured-hero__thumbnail-image {
	padding-bottom: 65%;
	display: block;
	background-position: 50% 50%;
	background-size: cover;

}

.featured-hero__teaser {
	position: absolute;
	width: 40%;
	margin-left: 25px;
}

.featured-hero__thumbnail {
	//position: absolute;
}