.featured-article {
	text-align: center;
	color: $white;
	overflow: hidden;
	margin-bottom: calc-rem(55);
	position: relative;

	a {
		color: $white;
	}

	&:hover {

		.featured-article__thumbnail-wrap {

			transform: scale(.98);
			transition: transform .4s cubic-bezier(.645,.045,.355,1);

		}

		.featured-article__thumbnail-image {

			transform: translate( -50%, -50% ) scale(1.08);
			transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);

		}

	}
}

.featured-article__thumbnail-wrap {
	width: 100%;
	transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.featured-article__thumbnail-image {

	transition: transform .4s cubic-bezier(.645,.045,.355,1);
	overflow: hidden;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		z-index: 1;
	}

}


.featured-article__teaser {
	padding: calc-rem(50) 0;
	position: relative;

	@media #{$breakpoint-md} {
		padding: calc-rem(100) 0;
	}

}

.featured-article__teaser-body {
	position: relative;
	z-index: 2;
}

// Animachooon

.listing--grid {
	opacity: 0;
}

.listing--grid.lazy-load-listing {
	opacity: 1;
	transition: 0.8s ease;
}

.listing--slat {
	opacity: 0;
}

.listing--slat.lazy-load-listing {
	opacity: 1;
	transition: 0.8s ease;
}