.header {
	//padding: calc-rem(15);
	//line-height: 0;
	font-family: $display-type;
	font-size: calc-rem(15);
	font-weight: bold;
	//background: grey;
	//border-bottom: 1px grey solid;

	a {
		box-shadow: none;
		text-shadow: none;
	}

	.current-menu-item {
		text-decoration: line-through;
	}

	@media #{$breakpoint-md} {
		padding: calc-rem(15);		
	}
}



.header__logo {
	line-height: 0;
}

.header__logo__svg {
	width: calc-rem(180);
}

.header__search {
	display: none;
	text-align: right;

		@media #{$breakpoint-md} {
		display: inline;
		float: right;
		
	}
}

.search-link__icon {
	position: relative;
	display: inline-block;
	border-radius: 30px;
	height: 10px;
	width: 10px;
	border: 2px solid $black;
   	vertical-align: middle;
 	margin-bottom:8px;
	margin-right: 10px;
  
	&:after {
		content: "";
		height: 2px;
		width: 7px;
		background: $black;
		position: absolute;
		top: 7px;
		left: 5px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
 		-o-transform: rotate(45deg);


	}


  
}


.header__search__link {
	padding: calc-rem(11) 0 0 0;

	&:before {
		content: "";
		position: relative;
		width: 16px;
		height: 16px;
		display: inline-block;
		//background: blue;
		margin-right: 10px;
		vertical-align: middle;
//		background-image: url('images/search.svg');
	}


	
}

.search-link {

	&:hover {

		.search-link__icon {
			border: 2px solid #007175;

			&:after {	
				background: #007175;
			}

		}

	}

}

.header__nav__list {
	display: none;

	@media #{$breakpoint-md} {
		display: inline;
		text-align: center;
		text-transform: uppercase;

		li {
			padding: calc-rem(11) calc-rem(10) 0 calc-rem(10);
		}
	}
}


.hamburger {
	float: right;
	position: relative;
	z-index: 10;
	padding: calc-rem(8) calc-rem(8) 0 0;

	@media #{$breakpoint-md} {
		display: none;
	}
}

.show-nav {

	.header__nav {

		&:after {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			background: $light-teal;
			opacity: 1;
			z-index: 3;
		}

		li {
			display: block;
			
		}
	}

	.header__nav__list {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	    text-align: center;
	    z-index: 10;
	    font-size: calc-rem(20);
	    font-weight: 500;

	    li {
	    	padding: calc-rem(8) 0;

	    }

	    a {
	    	color: $black;
	    }
	}

	.hamburger__line {

		transition: background .2s .1s ease;
		background: transparent;

		&:before, &:after {
			transition: top .3s ease, transform .2s .2s ease;
			top: 0;
			width: 22px;
		}

		&:before {
			-webkit-transform: rotate3d(0,0,1,45deg);
			-ms-transform: rotate3d(0,0,1,45deg);
			transform: rotate3d(0,0,1,45deg);
		}

		&:after {
			-webkit-transform: rotate3d(0,0,1,-45deg);
			-ms-transform: rotate3d(0,0,1,-45deg);
			transform: rotate3d(0,0,1,-45deg);
		}

	}

}


.hamburger__line {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 2px;	
	background: $black;
	

	&:before, &:after {
		content: "";
		position: absolute;
		display: inline-block;
		width: 22px;
		height: 2px;
		background: $black;
		transform-origin: 50% 50%;
	}

	&:before {
		top: 6px;
	}

	&:after {
		top: -6px;
	}
}

/*

.hamburger-link {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
    top: 1px;
    left: 0;
    z-index: 9020;

    &.active {
    	left: 270px;
    	-webkit-transition: 0.15s ease;
	    -moz-transition: 0.15s ease;
	    -o-transition: 0.15s ease;
	    transition: 0.15s ease;
    }

    @media #{$breakpoint-md} {
    	display: none;
    }
}


.active 

*/

