a, a:visited {
	text-decoration: none;
//	color: $teal;
	color: #008285;
//	box-shadow: inset 0 -0.06em 0 0 #fff, inset 0 -0.1em 0 0 currentColor;
//	text-shadow: 0.04em 0 #fff, -0.04em 0 #fff, 1.5px 0 #fff, -1.5px 0 #fff;
}

a:hover, a:active {
//	color: $teal;
	color: #007175;
	text-decoration: underline;
}

h1 {
	a, a:visited {
		text-shadow: none;
		box-shadow: none;
	}
}

h1, h2, h3, h4, h5, h6, .header, .search-overlay {
	a, a:visited {
		color: $black;
	}

	a:hover, a:active {
		color: #007175;
		text-decoration: none;
	}
}

.h2--featured-medium {
	a, a:visited {
		color: $white;
	}
}

.cta-link {
	font-family: $display-type;
	font-size: calc-rem(14);
	font-weight: 500;
	display: inline-block;
	
	&:before {
		content: '';
  		display: inline-block;
		height: 1px;
    	width: 16px;
    	background-color: #007175;
    	vertical-align: middle;
    	position: relative;
    	float: right;
    	left: 4px;
    	top: 12px;
    	transition: 0.18s ease-in;
	}

	&:after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		border-top: 1px solid #007175;
		border-right: 1px solid #007175;
		border-bottom: 0;
		border-left: 0;
		position: relative;
    	float: right;
    	left: 19px;
    	right: 0;
    	top: 9px;
    	transform: rotate(45deg);
    	transition: 0.18s ease-in;
	}

	&:hover {
		//box-shadow: inset 0 -0.06em 0 0 #fff, inset 0 -0.1em 0 0 #007175;
		//text-shadow: 0.04em 0 #fff, -0.04em 0 #fff, 1.5px 0 #fff, -1.5px 0 #fff;
		text-decoration: none;

		&:before {
			width: 24px;
			left: 0px;
			transition: 0.18s ease-in;
		}

		&:after {
			left: 24px;
			transition: 0.18s ease-in;
		}

		
	}
}

/*.cta-link {
	font-family: $display-type;
	font-size: calc-rem(16);
	font-weight: 700;
	box-shadow: inset 0 -0.06em 0 0 #fff, inset 0 -0.1em 0 0 $light-teal;
	text-shadow: 0.04em 0 #fff, -0.04em 0 #fff, 1.5px 0 #fff, -1.5px 0 #fff;
	padding-bottom: 5px;
	transition: .2s;

	&:hover {
		box-shadow: inset 0 -0.06em 0 0 #fff, inset 0 -0.1em 0 0 #007175;
		text-shadow: 0.04em 0 #fff, -0.04em 0 #fff, 1.5px 0 #fff, -1.5px 0 #fff;
		text-decoration: none;
	}
}*/

h2 a {
	box-shadow: none;
	text-shadow: none;
}