a, a:visited {
	text-decoration: none;
	color: $black;
	box-shadow: inset 0 -0.06em 0 0 #fff, inset 0 -0.1em 0 0 currentColor;
	text-shadow: 0.04em 0 #fff, -0.04em 0 #fff, 1.5px 0 #fff, -1.5px 0 #fff;
}

a:hover, a:active {
	color: $teal;
}