.listing__thumbnail {
	display: block;
	overflow: hidden;
}

.listing__thumbnail-image {
	padding-bottom: 55%;
	display: block;
	background-position: 50% 50%;
	background-size: cover;
	transition: all 0.2s ease-in;
}

.listing__thumbnail-wrap {
	overflow: hidden
}

.listing {
	margin-top: calc-rem(45);
	margin-bottom: calc-rem(45);
}

.listing__item {
	padding-bottom: calc-rem(10);
}

.listing--empty {
	font-family: $display-type;
	font-size: calc-rem(16);
	line-height: calc-rem(26);
	text-align: center;
}

.listing__item:hover {

	.listing__thumbnail-image {
		transform: scale(1.05);
		transition: all 0.3s ease-out;
	}


	h2 a {
		color: blue;
	}

}

.listing--grid {
	.listing__thumbnail {
		margin-bottom: 16px;
	}
}