.listing__thumbnail {
	display: block;
	overflow: hidden;
	
}

.listing__thumbnail-image {
	padding-bottom: 55%;
	display: block;
	background-position: 50% 50%;
	background-size: cover;
	transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);

	&:hover {

		transform: scale(1.15);
		transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);

	}
}

.listing__thumbnail-wrap {
	overflow: hidden;
	transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);

	&:hover {

		transform: scale(0.95);
		transition: transform .4s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.645,.045,.355,1);

	}
}

.listing__teaser .excerpt {
	display: none;

	@media #{$breakpoint-md} {
		display: inline;
	}
}

.listing {
	margin-bottom: calc-rem(14);

	@media #{$breakpoint-md} {

	}

	@media #{$breakpoint-ml} {
		margin-bottom: calc-rem(45);
	}
}

.listing__item {
	padding-bottom: calc-rem(10);

	@media #{$breakpoint-palm} {
		padding-bottom: 0;
	}

	@media #{$breakpoint-lg} {
		padding-bottom: calc-rem(10);
	}
}

.listing--empty {
	font-family: $display-type;
	font-size: calc-rem(16);
	line-height: calc-rem(26);
	text-align: center;
}


.listing--grid {
	.listing__teaser {
		margin-top: calc-rem(18);
	}
}

.listing--slat {
	.listing__teaser {
		padding-top: calc-rem(4);
		padding-bottom: calc-rem(0);
	}

	@media #{$breakpoint-palm} {

		.listing__teaser {
			padding-top: calc-rem(14);
			padding-bottom: calc-rem(14);
		}

	}

}

.listing__item {

	.meta {
		margin-bottom: calc-rem(10);
	}

}

// Grid test responsivt

@media #{$breakpoint-palm} and (max-width: 1024px) {

	.listing--grid {

		.listing__teaser {
			margin-top: 0;
			width: 50%;
			float: left;
			padding-left: calc-rem(10);
			padding-bottom: calc-rem(10);
		}

		.listing__thumbnail {

			width: 50%;
			padding-right: calc-rem(10);
			padding-bottom: calc-rem(10);
			float: left;

		}

	}

	.listing--slat {

		.listing__teaser {
			padding-left: calc-rem(10);
			padding-bottom: calc-rem(10);
		}

		.listing__thumbnail {
			padding-right: calc-rem(10);
			padding-bottom: calc-rem(10);
		}

	}

}

@media #{$breakpoint-md} and (max-width: 1170px) {

	.listing {

		.listing__teaser {
			padding-left: calc-rem(14);
			padding-bottom: calc-rem(14);
		}

		.listing__thumbnail {
			padding-right: calc-rem(14);
			padding-bottom: calc-rem(14);
		}

	}

}


// Animachooon

.listing__item--grid {
	opacity: 0;
}

.listing__item--grid.lazy-load-listing {
	opacity: 1;
	transition: 0.8s ease;
}

.listing__item--slat {
	opacity: 0;
}

.listing__item--slat.lazy-load-listing {
	opacity: 1;
	transition: 0.8s ease;
}

// Category page

.listing--category {

	@media #{$breakpoint-ml} {
		margin-bottom: calc-rem(10);
	}

	@media #{$breakpoint-lg} {
		margin-bottom: calc-rem(45);
	}

}