.search-overlay {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	opacity: 0;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		background: $white;
		opacity: 0;
		z-index: 1;
		transition: all 0.2s ease-in-out;
	}

	.search-input {
		//width: calc-rem(900);
		border-bottom: 2px solid #e6e6e6;
		color: $black;
		font-size: calc-rem(60);

		&:hover {
			border-bottom: 2px solid #C8C8C8;
		}

		&:focus {
			border-bottom: 2px solid #7FDEDD;
		}
	}
}


.show-search {
	overflow: hidden;

	.search-overlay {
		opacity: 1;
		visibility: visible;
		transition: all 0.2s ease-in-out;

		&:after {
			opacity: 0.96;
			transition: all 0.2s ease-in-out;
		}
	}

	.header__search__link {
		visibility: hidden;
	}

}

.search-overlay__content {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.search-overlay__close {
/*	display: block;
	position: relative;
	right: 40px;
	top: 40px;
	font-size: 15px;
	font-weight: bold;
	z-index: 100;*/

	display: inline;
	float: right;
	padding: calc-rem(26) calc-rem(25) calc-rem(15) calc-rem(15);;
	position: relative;
	z-index: 100;
	font-weight: bold;
	font-size: 15px;
	text-align: right;

	&:hover {

		.search-overlay__close-lines {

			&:before, &:after {
				background: #007175;
			}

		}

	}
}

.search-overlay__close-lines {

	display: inline-block;
    position: relative;
 	vertical-align: middle;
 	padding-bottom: 5px;
 	margin-right: 20px;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 14px;
		height: 2px;
		background: $black;
		transform-origin: 50% 50%;
	}

	&:before {
		-webkit-transform: rotate3d(0,0,1,45deg);
		-ms-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}

	&:after {
		-webkit-transform: rotate3d(0,0,1,-45deg);
		-ms-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}
}


// old

.show-search {

	.search-expand {
		width: 100%;
		background-color: #C2F9F1;
		display: block;
		//margin-bottom: 20px;
		padding: 0 14px;
	}

}

.search-expand__inner {
	padding-top: calc-rem(35);
	padding-bottom: calc-rem(25);
}

.search-input {
	background: transparent;
	border: 0;
	border-bottom: 2px solid $black;
	font-size: 35px;
	font-family: $display-type;
	margin: 10px 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: calc(100% - 90px);
}

.search-input:focus {
	border-bottom: 2px solid $black;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.1);
}

.search-label {
	text-transform: uppercase;
	font-family: $display-type;
	font-weight: bold;
	font-size: calc-rem(14);
	display: block;
}

/*.search-submit {
	position: relative;
	display: inline-block;
	border-radius: 30px;
	height: 20px;
	width: 20px;
	border: 3px solid $black;
   	vertical-align: middle;
   	background: transparent;
  
	&:after {
		content: "";
		height: 3px;
		width: 13px;
		background: $black;
		position: absolute;
		top: 16px;
		left: 12px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
 		-o-transform: rotate(45deg);


	}
}*/

.search-submit {
	width: 60px;
	height: 60px;
   	vertical-align: middle;
   	border: 0;
   	background: transparent;
  
   	&:before {
   		content: "";
   		height: 20px;
		width: 20px;
		background: transparent;
		position: relative;
		border: 3px solid $black;
		border-radius: 30px;
		display: inline-block;
		float: left;
		left: 10px;
   	}

	&:after {
		content: "";
		height: 3px;
		width: 16px;
		background: $black;
		position: relative;
		left: 30px;
		float: left;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
 		-o-transform: rotate(45deg);


	}
}