.search-intro {
	font-size: calc-rem(16);
	font-weight: 100;
}

.search-page-input {

	width: calc(100% - 110px);

	@media #{$breakpoint-palm} {

		width: 270px;

	}
}

.search-page__heading {
	text-align: center;

	@media #{$breakpoint-palm} {
		margin-bottom: calc-rem(20);
	}

	@media #{$breakpoint-md} {
		margin-bottom: calc-rem(30);
	}

	@media #{$breakpoint-ml} {
		margin-bottom: calc-rem(70);
	}
}

.search {
	margin-bottom: calc-rem(30);

	@media #{$breakpoint-ml} {
		margin-bottom: calc-rem(40);
	}

	@media #{$breakpoint-lg} {
		margin-bottom: calc-rem(80);
	}

}