.search-overlay {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		background: $white;
		opacity: 0.9;
		z-index: 1;
	}

	.search-input {
		//width: calc-rem(900);
		border-bottom: 2px solid $black;
		color: $black;
		font-size: calc-rem(50);
	}
}

.search-overlay__content {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.search-overlay__close {
	display: inline-block;
}

.search-overlay__close-lines {

	&:before, &:after {
		content: "";
		position: absolute;
		width: 22px;
		height: 2px;
		background: $black;
		transform-origin: 50% 50%;
	}

	&:before {
		-webkit-transform: rotate3d(0,0,1,45deg);
		-ms-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}

	&:after {
		-webkit-transform: rotate3d(0,0,1,-45deg);
		-ms-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}
}


// old

.show-search {

	.search-expand {
		width: 100%;
		background-color: #C2F9F1;
		display: block;
		//margin-bottom: 20px;
		padding: 0 14px;
	}

}

.search-expand__inner {
	padding-top: calc-rem(35);
	padding-bottom: calc-rem(25);
}

.search-input {
	background: transparent;
	border: 0;
	border-bottom: 2px solid $black;
	font-size: 35px;
	font-family: $display-type;
	float: left;
	margin: 10px 0;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
	width: calc(100% - 146px);
}

.search-input:focus {
	border-bottom: 2px solid $black;
}

::-webkit-input-placeholder {
//   color: darken(#7FDEDD, 20%);
}

.search-label {
	float: left;
	display: none;
}