/* variables */

$body-copy:		'FranklinGothic URW', Helvetica, Sans-serif;
$display-type:	'Sofia pro', Futura, "Gill Sans", Sans-serif;

html {
	font-family: $body-copy;
	font-size: 18px;
	line-height: 28px;
	color: $black;
}

blockquote, .blockquote {
	font-family: $display-type;
	font-size: calc-rem(26);
	line-height: calc-rem(34);
	font-weight: bold;
	color: $light-teal;

	@media #{$breakpoint-md} {
		font-size: calc-rem(34);
		line-height: calc-rem(42);
	}
}

p {
	margin-bottom: calc-rem(16);
}

.lede {
	font-family: $display-type;
	font-size: calc-rem(22);
	line-height: calc-rem(30);

	@media #{$breakpoint-md} {
		font-size: calc-rem(24);
		line-height: calc-rem(32);
	}
}

.excerpt {
	font-family: $display-type;
	font-weight: 100;
	font-size: calc-rem(16);
	line-height: calc-rem(26);
}